<% include ./partials/header.ejs %>
    <div class="container w-full h-full text-white relative">
        <div class="top w-full relative flex justify-between px-5 text-xl">
            <a href="/profile"><i class="ri-close-line"></i></a>
            <p id="share" class="cursor-pointer" style="color: silver;">Share</p>
        </div>

        <div class="center w-full relative h-[65vh] flex justify-center items-center flex-col">
            <div class="note absolute bottom-[53%] w-fit bg-zinc-800 rounded-3xl px-3 py-1">
                <form action="/createnote" method="post">
                    <input name="note" class="bg-transparent border-none outline-none cursor-pointer note-input" type="text" placeholder="Note....">
                </form>
            </div>

            <div class="profile w-[65px] h-[65px] rounded-full overflow-hidden">
                <img class="w-full h-full object-cover rounded-full" src="/images/uploads/<%= loginuser.profile %>" alt="">
            </div>
        </div>
    </div>

    <style>
        .container {
            padding: 20px;
        }
        
        .note-input {
            width: auto;
            min-width: 50px;
            padding: 5px;
            color: white;
        }
        
        .note-input::placeholder {
            color: silver;
        }
        
        .note {
            display: flex;
            align-items: center;
        }
        
        .top {
            padding: 15px;
        }
        
        .center {
            margin-top: 50px;
        }
        
        @media (max-width: 768px) {
            .top {
                padding: 10px;
                text-align: center;
            }
            .center {
                height: 60vh;
            }
            .profile {
                width: 50px;
                height: 50px;
            }
        }
        
        @media (max-width: 480px) {
            .top {
                flex-direction: column;
                align-items: center;
            }
            .center {
                height: 50vh;
            }
            .profile {
                width: 40px;
                height: 40px;
            }
        }
    </style>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const noteInput = document.querySelector('.note-input');
            noteInput.addEventListener('input', function() {
                this.style.width = ((this.value.length + 1) * 8) + 'px';
            });
        });



        document.querySelector("#share").addEventListener("click", function(e) {
            document.querySelector("form").submit();

        })
    </script>

    <% include ./partials/footer.ejs %>