<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram | Page Not Found</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <style>
        .btn {
            background-color: royalblue; /* Pinkish button color */
            color: #ffffff;
            text-align: center;
            display: inline-block;
            transition: background-color 0.3s ease, transform 0.3s ease;
        }

        .btn:hover {
            background-color: rgba(65, 105, 225, 0.871); /* Slightly darker shade on hover */
            transform: scale(1.02);
        }
    </style>
</head>

<body class="bg-black text-white font-sans">

    <section class="flex items-center justify-center h-screen">
        <div class="text-center">
            <!-- Heading -->
            <h1 class="text-8xl font-extrabold text-gray-200 mb-4 md:text-4xl sm:text-2xl">404</h1>
            <!-- Subheading -->
            <p class="text-2xl font-semibold text-gray-400 mb-6 md:text-xl sm:text-md">Page not found!</p>
            <!-- Button -->
            <a href="/login" class="btn px-3 py-1 rounded-3xl  ">
                Continue
            </a>
        </div>
    </section>

</body>

</html>
