<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram | Please Login to your Account</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <style>
        body {
            background-color: black;
            color: white;
        }
        
        .container {
            max-width: 1280px;
            background-color: #18181B;
            color: white;
            margin: auto;
        }
        
        @media (max-width: 768px) {
            .container {
                max-width: 100%;
            }
        }
        
        .section {
            padding: 80px 0;
        }
        
        .access-denied {
            color: #ffffff;
            border-radius: 10px;
            padding: 30px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            text-align: center;
        }
        
        .access-denied:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
        }
        
        .access-denied h1 {
            font-size: 2.5rem;
            margin-bottom: 20px;
        }
        
        .access-denied p {
            font-size: 1.25rem;
            margin-bottom: 20px;
        }
        
        .btn-login {
            background-color: #4f46e5;
            color: #ffffff;
            border: none;
            border-radius: 6px;
            padding: 12px 24px;
            font-size: 1rem;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        
        .btn-login:hover {
            background-color: #4338ca;
        }
        
        .btn-login:focus {
            outline: none;
        }
        /* Add animation */
        
        @keyframes bounce {
            0% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-10px);
            }
            100% {
                transform: translateY(0);
            }
        }
        
        .btn-login:hover {
            animation: bounce 0.5s infinite;
        }
    </style>
</head>

<body class="min-h-screen flex justify-center items-center">
    <div class="container">
        <div class="section">
            <div class="access-denied">
                <h1 class="mb-7">Access Denied</h1>
                <p class="mb-4">Sorry, you didn't log in. Please log in to access the resources.</p>
                <a href="/login" class="btn-login">Log In</a>
            </div>
        </div>
    </div>
</body>

</html>