



<% include ./partials/header.ejs %>
<div class="w-full h-screen flex flex-col items-center justify-center text-white py-6 px-4 bg-black">
    <div class="flex flex-col items-center gap-6 max-w-md w-full">
        <img class="w-2/3 sm:w-1/2 md:w-1/3" src="/images/instalogo.png" alt="Logo">
        <a class="w-full text-white bg-blue-600 px-3 py-3 rounded-md hover:bg-blue-700 transition duration-300" href="/login/federated/google">Sign in with Google</a>
        <form class="w-full space-y-4" action="/login" method="post">
            <input required class="px-3 py-2 border-2 border-zinc-800 rounded-md w-full bg-zinc-900 placeholder-gray-400 text-white" type="email" placeholder="Email" name="email">
            <input required class="px-3 py-2 border-2 border-zinc-800 rounded-md w-full bg-zinc-900 placeholder-gray-400 text-white" type="password" placeholder="Password" name="password">
            <input class="w-full  text-white cursor-pointer px-3 py-3 rounded-md mt-2 hover:bg-blue-700 transition duration-300" type="submit" value="Log In">
        </form>
        <div class="flex flex-col sm:flex-row sm:justify-between w-full px-2">
            <span class="text-center sm:text-left">Don't have an account? <a href="/" class=" hover:text-blue-400 hover:underline transition duration-300">Sign Up</a></span>
            <span class="text-center sm:text-right"><a href="/forgot-password" class=" hover:text-blue-400 transition duration-300">Forgot Password?</a></span>
        </div>
    </div>
</div>
<% include ./partials/footer.ejs %>
