<% include ./partials/header.ejs %>
    <div class="w-full min-h-full text-white overflow-x-hidden overflow-y-auto ">
        
    </div>
    
    <style>
     

    </style>

    <script>
   
    </script>
    <% include ./partials/footer.ejs %>