
    <% include ./partials/header.ejs %>
<div class="container w-full min-h-full text-white overflow-x-hidden overflow-y-auto">
  <div class="header flex gap-6 items-center fixed top-0 left-0 w-full p-4 bg-black z-10">
    <a href="/settings"><p><i class="ri-arrow-left-line text-lg cursor-pointer text-white"></i></p></a>
    <p class="text-xl font-semibold text-white">Saved</p>
  </div>

  <div class="saved-posts relative w-full h-auto pt-16 flex flex-wrap gap-6 p-4">
    <% loginuser.savedPosts.forEach(function(post){ %>
      <div id="post" data-id="<%= post._id %>" class="post w-full sm:w-[48%] md:w-[30%] h-[25vh] bg-red-600 cursor-pointer rounded-lg overflow-hidden shadow-lg transform transition duration-500 hover:scale-105">
        <img class="w-full h-full object-cover" src="/images/uploads/<%= post.image %>" alt="">
      </div>
    <% }) %>
  </div>
</div>

<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }



  .saved-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .post img {
    transition: transform 0.3s ease;
  }

  .post:hover img {
    transform: scale(1.1);
  }

  @media (min-width: 768px) {
    .saved-posts {
      justify-content: space-between;
    }
  }


  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    background-color: rgba(0, 0, 0, 0.8); 
  }

  @media (max-width: 640px) {
    .header {
      padding-left: 14%;
      padding-right: 14%;
      justify-content: space-between;
    }
    .header p {
      font-size: 1rem; 
    }
  }

  @media (min-width: 641px) and (max-width: 1024px) {
    .header {
      padding-left: 3%;
    }
  }

  @media (min-width: 1025px) {
    .header {
      padding-left: 5%;
    }
  }
</style>

<script>
const loginuserid = `<%= loginuser._id %>`;
document.querySelector(".saved-posts").addEventListener("click", function(event) {
    let postElement = event.target.closest('.post');
    if (postElement) {
      const loginuserid = `<%= loginuser._id %>`;
        window.location.href = `/saved/posts/open/${postElement.dataset.id}/${loginuserid}`;
    }
});

</script>
<% include ./partials/footer.ejs %>
