<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram | Email sent </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/icons/remixicon.css" rel="stylesheet">
    <style>
        body {
            font-family: 'Segoe UI', sans-serif;
            background-color:black;
            color: white;
            margin: 0;
            padding: 0;
        }
        
        .container {
            max-width: 1280px;
            margin: auto;
        }
        
        @media (max-width: 768px) {
            .container {
                padding: 0 15px;
                max-width: 100%;
            }
        }
        
        .section {
            padding: 80px 0;
        }
        
        .icon-check {
            color: #10b981;
            font-size: 64px;
            transition: transform 0.3s ease;
        }
        
        .icon-check:hover {
            transform: scale(1.1);
        }
        
        .success-message {
            text-align: center;
            margin-top: 20px;
            transition: opacity 0.3s ease;
        }
        
        .success-message.hidden {
            opacity: 0;
        }
    </style>
</head>

<body class="">
    <section class="section">
        <div class="container">
            <div class="flex flex-col items-center justify-center">
                <i class="ri-check-line icon-check"></i>
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white mt-4">
                    Email Sent Successfully!
                </h1>
                <p class="text-sm font-light text-center text-gray-500 dark:text-gray-400 mt-2 success-message hidden">
                    Check Your Email.
                </p>
            </div>
        </div>
    </section>

    <script>
        // Adding a timeout to show the success message with a slight delay
        setTimeout(() => {
            const successMessage = document.querySelector('.success-message');
            successMessage.classList.remove('hidden');
        }, 500);
    </script>
</body>

</html>