<% include ./partials/header.ejs %>
    <div class="w-full min-h-full text-white ">
          <div class="header fixed top-[5%] z-auto text-lg font-medium w-[94%] flex items-center gap-4 text-white">
                <p><i class="ri-arrow-left-line"></i></p>
                <p>Settings and activity</p>
          </div>
    </div>
     


    <style>
     
    </style>

    <script>
   
    </script>
    <% include ./partials/footer.ejs %>