
    <% include ./partials/header.ejs %>
<div class="w-full min-h-full text-white py-5 bg-black">
    <div class="flex justify-between items-center px-4 mb-6">
        <a class="text-sm text-blue-500 flex items-center" href="/profile">
            <i class="ri-arrow-left-s-line"></i> Profile
        </a>
        <h2 class="text-sm font-semibold">Upload Post</h2>
        <a class="text-sm text-white flex items-center" href="/feed">
            <i class="ri-home-line"></i> Home
        </a>
    </div>
    
    <div class="flex flex-col items-center gap-4 mt-10">
        <div class="image w-24 h-24 sm:w-32 sm:h-32 md:w-40 md:h-40 rounded-full border-2 border-zinc-800 flex items-center justify-center">
            <i class="text-4xl sm:text-5xl font-light ri-image-line"></i>
        </div>
        <button id="selectpic" class="text-royalblue-500  capitalize text-sm sm:text-base bg-transparent border border-blue-500 rounded-3xl px-4 py-2 hover:bg-blue-500 hover:text-white transition duration-300">
            Select Picture
        </button>
    </div>
    
    <form id="uploadform" action="/upload/post" class="w-full max-w-md mx-auto px-4 py-6 mt-10 bg-zinc-900 rounded-lg shadow-lg" enctype="multipart/form-data" method="post">
        <input required hidden type="file" name="image">
        <textarea required class="px-3 py-2 w-full text-black text-lg font-medium border-2 border-zinc-800 resize-none rounded-md outline-none bg-white" name="caption" placeholder="Write a caption..."></textarea>
        <input class="w-full mt-4 px-4 py-2 bg-royalblue-600 text-white rounded-md hover:bg-royalblue-700 transition duration-300" type="submit" value="Post">
    </form>
</div>

<script>
    document.querySelector("#selectpic")
        .addEventListener("click", function() {
            document.querySelector("#uploadform input").click();
        });
</script>
<% include ./partials/footer.ejs %>
